<title>الترقيات</title>
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div style="display: flex; justify-content: center;">
                <h1>الترقيات</h1>
            </div>
            <br>
            <div class="btn-container">
                <a href="{% url 'ameen_tarkyat' %}" class="btn btn-block btn-outline-secondary btn-lg">ترقيات الأمناء</a>
                <a href="{% url 'daragaola_tarkya' %}" class="btn btn-block btn-outline-secondary btn-lg">ترقيات الدرجة الأولى</a>
                <a href="{% url 'promotion_list' %}" class="btn btn-block btn-outline-secondary btn-lg">تعديل وإضافة الترقيات</a>
                <a href="{% url 'add_tarkya_for_many' %}" class="btn btn-block btn-outline-secondary btn-lg">إضافة ترقية لأكثر من فرد دفعة واحدة</a>
            </div>            
        </div>
    </div>
</div>
{% endblock %}