{% extends "base.html" %}
{% load static %}

{% block content %}
<title>الترقيات</title>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div style="display: flex; justify-content: center;">
                <h1>الترقيات</h1>
            </div>
            <br>
            <div class="btn-container">
                <button class="btn btn-block btn-outline-secondary btn-lg" onclick="window.open('{% url 'ameen_tarkyat' %}')">ترقيات الأمناء</button>
                <button class="btn btn-block btn-outline-secondary btn-lg" onclick="window.open('{% url 'daragaola_tarkya' %}')">ترقيات الدرجة الأولى</button>
                <button class="btn btn-block btn-outline-secondary btn-lg" onclick="window.open('{% url 'promotion_list' %}')">تعديل واضافة الترقيات </button>

            </div>
        </div>
    </div>
</div>
{% endblock %}